.App {
  width: 100vw;
}

#bottom {
  height: calc(100vh - 50px);
  display: flex;
  width: inherit;
}

#content {
  height: inherit;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

td {
  height: fit-content;
  padding: 10px;
}

thead > tr {
  background-color: var(--row-color);
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: var(--row-color);
}

tr > *:nth-child(1) {
  width: 40%;
}

tr > *:nth-child(2) {
  width: 25%;
}

tr > *:nth-child(3) {
  width: 35%;
}

.pageHeading {
  align-self: flex-start;
  vertical-align: top;
  margin: 30px 0;
}

.pagination {
  margin-top: 50px;
}

.pageNumber {
  padding: 7px;
  cursor: pointer;
  border: 2px solid transparent;
}

.pageNumber:hover {
  border: 2px solid var(--theme-color);
}
