.App {
  width: 100vw;
}

#bottom {
  height: calc(100vh - 50px);
  display: flex;
  width: inherit;
  overflow: scroll;
}

#content {
  height: inherit;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
}

.pageHeading {
  align-self: flex-start;
  vertical-align: top;
  margin: 30px 0;
}

.optionsMenu {
  align-self: flex-start;
  vertical-align: top;
  margin: 0 0 30px 0;
}

.optionsMenu > span {
  cursor: pointer;
  color: var(--link-color);
}